## Local database (default)
export DATABASE_URL=file:./data/vimcolorschemes.db
export DATABASE_AUTH_TOKEN=

## Remote Turso example
# export DATABASE_URL=libsql://your-database.turso.io
# export DATABASE_AUTH_TOKEN=your-turso-auth-token

## Add github auth for bigger limits
export GITHUB_USERNAME=
export GITHUB_TOKEN=

# this limit is a soft limit, the result count could be a bit higher
export GITHUB_REPOSITORY_COUNT_LIMIT=25
